@media (max-width: 576px) {
  .nav-list,
  .subscribe-btn {
    display: none;
  }
  .hamburger i {
    color: #fff;
    padding-top: 60px;
  }
  .tech-wave-title {
    font-size: 40px;
    padding-top: 15px;
  }

  .podcast-list,.footer-icon {
   grid-template-columns: repeat(2,auto);
   padding-top: 20px;
  }



  .host-container {
    /* border: 10px solid red; */
    flex-direction: column;
  }

  .why-choose-container,
  .episodes-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* .footer-icon{
    flex-wrap: wrap;
  }
  .footer-icon-item{
    flex: 0 0 50%;
  } */
}

@media (min-width: 577px) {
  .hamburger {
    color: #fff;
    display: none;
  }
   .podcast-list {
    /* border: 10px solid red; */
    flex-wrap: wrap;
  }
}


/* small device 2 card - (podcast)  not working by flex : 0 0 50%*/