body {
  background-color: #1a0b2e;
}
.max-width {
  max-width: 80%;
  margin: 0 auto;
}
/* navbar style */
.techwave-content {
  display: flex;
  justify-content: space-between;
}
.text-list {
  display: flex;
  list-style: none;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
  margin-top: 60px;
}

.btn-primary {
  background: RGBA(247, 233, 63, 1);
  background: linear-gradient(
    15deg,
    rgba(247, 233, 63, 1) 20%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  color: white;
  border-radius: 10000px;
  padding: 16px 40px 16px 40px;
  margin-top: 48px;
  border: none;
  justify-content: center;
  gap: 8px;
}
/* banner section style */
.banner-section {
  background-image: url("../assets/hero-bg.png");
  background-position: center;
}
.image-container {
  position: relative;
  width: 380px;
  height: 510px;
  margin: 0 auto;
}
.base-image {
  position: absolute;
  top: 35%;
  left: 38%;
  width: 100px;
}
.base-image {
  transition: transform 0.4s ease;
}

.base-image:hover {
  transform: rotate(15deg)
}
.overlay-image {
  width: 100%;
  padding-top: 30px;
  margin-top: 50px;
}
.banner-text {
  text-align: center;
  flex-direction: column;
  gap: 8px;
}
.banner-title {
  color: rgba(255, 255, 255, 1);
  font-style: Extra bold;
  font-weight: 600;
  font-size: 50px;
  gap: 9px;
}
.banner-description {
  color: rgba(255, 255, 255, 0.818);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
}
.button {
  background: RGBA(247, 233, 63, 1);
  background: linear-gradient(
    15deg,
    rgba(247, 233, 63, 1) 20%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  color: #ffffff;
  border: none;
  border-radius: 10000px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 12px 20px;
  gap: 9px;
}
.button-two {
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  background-color: #1a0b2e;
  color: rgba(0, 255, 136, 1);
  padding: 12px 20px 12px 20px;
  gap: 9px;
}

.new-button {
  background-color: #00ff88;
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  color: #fff;
  padding: 12px 20px 12px 20px;
  gap: 9px;
}

.image-container button {
    position:  absolute;
    margin-top: 100px;
    margin-left: -100px;
}
/* about section style */

.About-section {
  padding-top: 60px;
}
.about-container {
  text-align: center;
  /* line-height: 0%; */
  /* display: flex; */
}
.about-title {
  color: #ffffff;
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
}
.about-description {
  color: #ffffffd8;
}
.podcast-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* text-align: center; */
  justify-content: space-between;
  padding-top: 30px;
  line-height: 50%;
  align-items: flex-start;
  gap: 80;
}
.number {
  color: #00ff88;
  font-size: 48px;
  font-weight: 900;
}
.number-name {
  color: #ffffffd8;
  font-size: 16px;
  font-weight: 400;
}

/* why choose tech-wave style */
.Why-Choose-TachWave-section {
  padding-top: 60px;
}

.choose-title {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  /* font-weight: ; */
  /* font-style: bold; */
}

.why-choose-container {
  height: 100%;
  display: grid;
  /* align-items: center; */
  border-radius: 40px;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.card-one {
  /* border: 1px solid black; */
  background: rgba(53, 17, 101, 0.4);
  /* color: white; */
  grid-row: 1/3;
  grid-column: 1/5;
  border-radius: 16px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* place-items: center; */
}
/* .card-one img{
    size: 10px;
} */
.card-two {
  background: rgba(53, 17, 101, 0.4);
  /* color: white; */
  grid-column: 5/-1;
  border-radius: 16px;
}
.card-three {
  background: rgba(53, 17, 101, 0.4);
  /* color: white; */
  grid-column: 5/-1;
  border-radius: 16px;
}
.card-four {
  background: rgba(53, 17, 101, 0.4);
  /* color: white; */
  grid-column: 1/10;
  border-radius: 16px;
}
.card-five {
  background: rgba(53, 17, 101, 0.4);
  /* color: white; */
  grid-column: 10/-1;
  border-radius: 16px;
}

.card-one h3,
.card-two h3,
.card-three h3,
.card-four h3,
.card-five h3 {
  color: #fff;
}

.card-description {
  color: #ffffff7c;
}
.card-one,
.card-two,
.card-three,
.card-four,
.card-five {
  /* display: flex;
flex-direction: column;
gap: 20; */
  /* margin: 0 auto; */
  padding: 25px;
  /* align-self: center; */
  /* text-align: center; */
  /* justify-content: center; */
}

/* featured episodes styles */

.featured-episodes-section {
  padding-top: 70px;
}
.featured-title {
  text-align: center;
  color: #ffffff;
  /* gap: 40px; */
  /* height: 538px;
    width: 12px; */
}
.episodes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* border: 10px solid red; */
}
.episodes-container h2 {
  color: #fff;
  font-size: 16px;
}
.episodes-container p {
  color: #ffffff93;
}
.episodes-container h5 {
  color: #07f165;
}
.box-one {
  background: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
}
.box-two {
  background: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
}
.box-three {
  background: rgba(53, 17, 101, 0.4);
  border-radius: 24px;
}
.box-one,
.box-two,
.box-three {
  padding: 25px;
}
iframe {
  border: none;
  border-radius: 8px;
}

/* meet the host styles */

.meet-the-host-section {
  padding: 70px 0;
}

.content h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

.host-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: left;
  gap: 50px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  /* justify-content: flex-start; */
}
.host-container-img img {
  height: 200px;
  padding: 70px 0 40px 0;
}
.host-container-img {
  padding-left: 30px;
}
.title {
  /* align-items: center; */
  text-align: left;
  color: #ffffff;
  font-style: bold;
  font-size: 30px;
}
.host-description {
  color: #ffffffc0;
}
.host-icon img {
  height: 30px;
  width: 30px;
  /* margin: 5px; */
  border: 5px solid #1A0B2E;
  border-radius: 70%;
}

.the-host {
  flex-direction: column;
}

/* footer styles */
footer {
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 412px;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
.footer-content {
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  padding-top: 125px;
  line-height: 0%;
  /* height: 172px; */
}
.tech-wave-title {
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  font-weight: bold;
}
.footer-icon {
  /* 
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    align-items: center; */

  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 40px;

  /* display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px; */
  /* align-items: flex-start; */
}

.footer-icon h5 {
  color: #dad3d3;
}
.footer-icon-item {
  display: flex;
  gap: 20px;
}
.text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  /* flex-direction: column; */
  /* margin-top: 20px; */
}
.tech-wave-title span {
  background: #f7e93f;
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 50%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
