/* body {
  background-color: #1a0b2e;
} */
.max-width {
  max-width: 80%;
  margin: 0 auto;
}
/* navbar style */
.techwave-content {
  display: flex;
  justify-content: space-between;
}
.text-list {
  display: flex;
  list-style: none;
  gap: 24px;
  /* color: rgba(255,255,255,1); */
}
/* .btn-primary{
   
} */
/* banner section style */
.banner-section {
  background-color: red;
}
.image-container {
  /* display:inline-block; */
  position: relative;
  width: 400px;
  margin: 0 auto;
  /* justify-content: center; */
  /* align-items: center; */
}
.base-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
}
.overlay-image {
  width: 100%;
}

/* .overlay-image{
    position: relative;
 width: 100%;
 position: absolute;
 top: 20px;
 left: 30px;
 width: 100px;
 } */
.banner-text {
  text-align: center;
}
.banner-title {
  color: rgba(255, 255, 255, 1);
  font-style: Extra bold;
  font-weight: 600;
  font-size: 50px;
}
.banner-description {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
}
/* .button{
    background-color: rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1);
  } */
.button {
  /* background-color: rgba(247, 233, 63, 1), rgba(251, 9, 180, 1); */
  background: RGBA(247, 233, 63, 1);
  background: linear-gradient(
    15deg,
    rgba(247, 233, 63, 1) 20%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  border-radius: 10000px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.button-two {
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
}
/* about section style */
.about-container {
  text-align: center;
  /* display: flex; */
}
.podcast-list {
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  align-items: flex-start;
  gap: 80;
}

/* why choose tech-wave style */

.choose-title {
  text-align: center;
}

.why-choose-container {
  height: 100%;
  display: grid;
  border-radius: 40px;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.card-one {
  /* border: 1px solid black; */
  background: rgba(53, 17, 101, 0.4);
  color: white;
  grid-row: 1/3;
  grid-column: 1/5;
  border-radius: 16px;
}
.card-two {
  background: rgba(53, 17, 101, 0.4);
  color: white;
  grid-column: 5/-1;
  border-radius: 16px;
}
.card-three {
  background: rgba(53, 17, 101, 0.4);
  color: white;
  grid-column: 5/-1;
  border-radius: 16px;
}
.card-four {
  background: rgba(53, 17, 101, 0.4);
  color: white;
  grid-column: 1/10;
  border-radius: 16px;
}
.card-five {
  background: rgba(53, 17, 101, 0.4);
  color: white;
  grid-column: 10/-1;
  border-radius: 16px;
}

/* featured episodes styles */
.featured-title{
    text-align: center;
    /* gap: 40px; */
    /* height: 538px;
    width: 12px; */
}
.episodes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.box-one{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.box-two{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.box-three{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}

/* meet the host styles */

.content{
    text-align: center;
}
.host-contanier{
   display: flex;
   /* flex-direction: column; */
   align-items: center;
   text-align: left;
   background: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
   /* justify-content: flex-start; */
}
.title{
    /* align-items: center; */
    text-align: left;
    color: #FFFFFF;
    font-style: bold;
}
.host-description{
    color: #FFFFFF;
}
.the-host{
    flex-direction: column;
}

/* footer styles */
footer{
    background: red;
}

/* .image{
    background-image: url();
} */
.tech-wave-title{
    text-align: center;
}
.image-name{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    /* align-items: flex-start; */
}
.text{
    color: rgba(250, 250, 250, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    /* flex-direction: column; */
    /* margin-top: 20px; */
}
