/* body{
    background-color: #1A0B2E;
} */
.max-width{
    max-width: 80%;
    margin: 0 auto;
}
/* navbar style */
.techwave-content{
    
    display: flex;
    justify-content: space-between;
}
.text-list{
    display: flex;
    list-style: none;
    gap: 24px;
    /* color: rgba(255,255,255,1); */
}
/* .btn-primary{
   
} */
 /* banner section style */
 .banner-section{
    background-color: red;
 }
 .image-container{
    /* display:inline-block; */
    position: relative;
    width: 400px;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
 }
 .base-image{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
 }
 .overlay-image{
    width: 100%;
 }
 
 /* .overlay-image{
    position: relative;
 width: 100%;
 position: absolute;
 top: 20px;
 left: 30px;
 width: 100px;
 } */ 
  .banner-text{
    text-align: center;
  }
  .banner-title{
    color: rgba(255,255,255,1);
    font-style: Extra bold;
    font-weight: 600;
    font-size: 50px;
  }
  .banner-description{
    color:rgba(255,255,255,1);
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
  }
  /* .button{
    background-color: rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1);
  } */
   .button{
    background-color: rgba(247,233,63,1),rgba(251,9,180,1);
    border-radius: 10000px;
    align-items: center;
    justify-content:center;
    gap: 8px;
   }
   .button-two{
    border: 1px solid rgba(0,255,136,1);
    border-radius: 10000px;
   }
   /* about section style */
   .about-container{
   text-align: center;
   /* display: flex; */
   }
   .podcast-list{
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 80;
   }

   /* why choose tech-wave style */

   .choose-title{
    text-align: center;
   }
   .card-one{
    background-color: blue;
    grid-row: 1/3;
   
   }
   .card-two{
    background-color: blueviolet;
   }
   .card-three{
    background-color: brown;
   }
   .card-four{
    background-color: cyan;
    /* grid-column: 2/1; */
   }
   .card-five{
    background-color: crimson;
    grid-column: 3/2;
   }
   .why-choose-container{
    height: 100%;
    display: grid;
    gap: 20px;
    border: 1px solid red;
    border-radius: 40px;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: 50px auto 50px; */
   }

