/* body{
    background-color: #1A0B2E;
} */
.max-width{
    max-width: 80%;
    margin: 0 auto;
}
.techwave-content{
    
    display: flex;
    justify-content: space-between;
}
.text-list{
    display: flex;
    list-style: none;
    gap: 24px;
    /* color: rgba(255,255,255,1); */
}
/* .btn-primary{
   
} */